.wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;

  &:hover {
    box-shadow: 3px 3px 10px rgba(211, 211, 211, 0.3);
  }
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  background-color: #eee;

  img {
    object-fit: fill;
  }

  .noImage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-content: center;
    // padding-top: 65px;

    .icon {
      width: 100%;
    }

    p {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }
  }
}

.info {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  align-content: space-between;

  p {
    line-height: 1.3;
  }



  .titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 7px;
    width: 85%;
    flex-wrap: wrap;

    .title {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: #1b1b1b;
      cursor: pointer;
      margin-bottom: 5px;
    }

    .cat3 {
      width: 100%;
      font-size: 14px;
      color: #676767;
    }

    .rate {
      width: 100%;
      font-size: 16px;
      display: flex;
      align-content: center;
      padding-top: 10px;
      color: #676767;

      .rateIcon {
        margin-right: 12px;
        font-size: 14px;
      }
    }
  }

  .detailWrap {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .addr1,
    .infocenter {
      width: 100%;
      font-size: 14px;
      color: #676767;
      margin-bottom: 2px;
    }


  }

}

.addrIcon,
.infocenterIcon {
  color: #676767;
  font-size: 18px;
  padding-right: 10px;
}

.group {
  display: flex;
  width: 100%;
  padding-top: 5px;
  box-sizing: border-box;
}